:root {
  font-family: 'Encode Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --red: hsl(0 70% 52%);
  --yellow: hsl(60 68% 40%);
  --blue: hsl(242 58% 34%);
  --experience: hsl(128 93% 21%);
  --toastBtnFont: inherit;
  --toastContainerTop: auto;
  --toastContainerBottom: 1.5rem;
  --toastColor: black;
  --toastBackground: hsl(0 0% 95%);
  --toastHeight: auto;
  --toastMinHeight: 3em;
  --toastBoxShadow: none;
  --toastBorder: 1px solid hsl(0 0% 0% / 25%);
  --toastBorderRadius: 0px;
  --toastMsgPadding: .5em;
  --toastBarHeight: 0;
}

*,*::before,*::after {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  margin: 0;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
}
